#main{
    /* text-align: center; */
    background-color: rgba(180, 180, 180, 0.397);
    border-radius: 8px;
    /* width: 300px;
    height: 350px; */
    margin: auto;
    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    bottom: 20%;

}
.title{

}

.tips{

}