<!DOCTYPE html>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../resource/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resource/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>注册审核</title>

</head>

<body style="background-image: url(../../image/papper.png)">
    <div id="main" class="container">
        <!-- navigation_bar -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark shadow p-3 mb-3 mt-3 rounded sticky-top">
            <a class="navbar-brand" href="#">CrowdSourcing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-check-square-o">&nbsp;</i>注册审核</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-id-card-o"></i>
                            人员管理
                        </a>
                        <div class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="publisherManage.html"><i class="fa fa-send">&nbsp;</i>发包人员管理</a>
                            <a class="dropdown-item" href="receiverManage.html"><i class="fa fa-coffee">&nbsp;</i>接包人员管理</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="company.html"><i class="fa fa-building-o">&nbsp;</i>公司管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="fa fa-user-circle">&nbsp;</i>个人信息</a>
                    </li>
                </ul>
            </div>
            <div class="float-right">
                <!-- <a class="text-muted" href="#">[注销账号]</a> -->
                <a href="index.html"><img src="http://static.runoob.com/images/mix/img_avatar.png" class="rounded-circle"
                        alt="Cinque Terre" style="width:40px; height:40px;"><span>&nbsp;</span></a>
                <button type="button" class="btn btn-sm btn-outline-secondary" style="border: 0;" @click="logout()"><i
                        class="fa fa-power-off">&nbsp;</i>注销</button>

            </div>
        </nav>
        <!-- content -->
        <div class="row">
            <div class="col">
                <div class="card rounded shadow">
                    <div class="card-body">
                        <h4 class="card-title border-bottom pb-3">待审核人员列表</h4>
                        <div class="btn-group btn-block mb-3">
                            <button class="btn btn-danger" style="width:15%;" @click="refuse(person.id)"><i class="fa fa-user-times">&nbsp;</i>拒绝</button>
                            <button class="btn btn-success" style="width:15%;" @click="verified(person.id)"><i class="fa fa-user-plus">&nbsp;</i>通过</button>
                        </div>

                        <table class="table table-hover rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th><input type="checkbox" v-model="hasCheckAll" @click="checkAll()" style="text-align: center"
                                            :disabled="!checkable" style="width:2.5%"></th>
                                    <th style="width:24.3%"><i class="fa fa-user-o">&nbsp;</i>姓名</th>
                                    <th style="width:24.3%"><i class="fa fa-phone">&nbsp;</i>手机</th>
                                    <th style="width:24.3%"><i class="fa fa-envelope-o">&nbsp;</i>邮箱</th>
                                    <th style="width:24.3%"><i class="fa fa-building-o">&nbsp;</i>公司</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="person in info">
                                    <td><input type="checkbox" v-model="uncensorList" :value="person.id" @change="checkIndividual()"
                                            :disabled="!checkable"></td>
                                    <td v-text="person.name"></td>
                                    <td v-text="person.phone"></td>
                                    <td v-text="person.mail"></td>
                                    <td v-text="person.companyName"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../resource/swal2/sweetalert2.all.js"></script>
<script src="../../resource/vue/vue.js"></script>
<script src="../../resource/jquery/jquery.js"></script>
<script src="../../resource/bootstrap/js/bootstrap.min.js"></script>
<script src="../../resource/jquery/jquery.cookie.js"></script>

<script>
    // 创建一个新的 Vue 实例
    var main = new Vue({
        // DOM 元素，挂载视图模型
        el: '#main',
        // 定义属性，并设置初始值
        data: {
            info: [],
            person: [],
            uncensorList: [],
            badgeIndex: '',
            hasCheckAll: false,
            //
            addable: true,
            deleble: false,
            editable: false,
            checkable: true,
            seen: false,

        },
        created() {
            swal({
                title: "Loading...",
                width: 250,
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                onOpen: () => {
                    swal.showLoading()
                }
            });
            this.group = $.cookie('group');
            if ($.cookie('uuid') == null) {
                let timerInterval
                swal({
                    title: '请登录',
                    html: '页面将于 <strong>5</strong> 秒后跳转至登陆页面.',
                    timer: 5500,
                    onOpen: () => {
                        swal.showLoading()
                        timerInterval = setInterval(() => {
                            swal.getContent().querySelector('strong')
                                .textContent = parseInt((swal.getTimerLeft()) / 1000)
                        }, 100)
                    },
                    onClose: () => {
                        clearInterval(timerInterval)
                    }
                }).then(() => {
                    window.location.href = "../login/login.html";
                })
            }
            //已经的登陆   
            else {
                this.uuid = $.cookie('uuid');
                var that = this;
                $.post("../../php/checkState.php", {
                    uuid: that.uuid,
                    group: that.group,
                }).done((data) => {
                    data = JSON.parse(data);
                    if (data.code == 0) {
                        let timerInterval
                        swal({
                            title: '请登录',
                            html: '页面将于 <strong>5</strong> 秒后跳转至登陆页面.',
                            timer: 5500,
                            onOpen: () => {
                                swal.showLoading()
                                timerInterval = setInterval(() => {
                                    swal.getContent().querySelector('strong')
                                        .textContent = parseInt((swal.getTimerLeft()) /
                                            1000)
                                }, 100)
                            },
                            onClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then(() => {
                            window.location.href = "../login/login.html";
                        })
                    } else {
                        $.post("../../php/admin/fetchUncensored.php", {}).done((data) => {
                            data = JSON.parse(data);
                            that.info = data;
                            swal.close();
                        });
                    }
                });

            }
        },


        // 点击菜单使用的函数
        methods: {
            logout: function () {
                var that = this;
                $.post("../../php/logout.php", {
                    uuid: that.uuid,
                    group: "admin",
                }).done(() => {
                    $.cookie("uuid", null, {
                        expires: 1,
                        secure: false,
                        path: '/'
                    });
                    $.cookie("group", null, {
                        expires: 1,
                        secure: false,
                        path: '/'
                    });
                    window.location.href = "../login/login.html";
                })
            },

            checkAll: function () {
                if (this.uncensorList.length == 1) {
                    this.addable = false;
                    this.editable = true;
                    this.deleble = true;
                }
                if (!this.hasCheckAll) {
                    this.uncensorList = [];
                    this.info.forEach((person) => {
                        this.uncensorList.push(person.id);
                    });
                    this.hasCheckAll = !this.hasCheckAll;
                    this.addable = false;
                    this.editable = false;
                    this.deleble = true;
                } else {
                    this.uncensorList = [];
                    this.hasCheckAll = !this.hasCheckAll;
                    this.addable = true;
                    this.editable = false;
                    this.deleble = false;
                }
            },

            checkIndividual: function () {
                if (this.uncensorList.length == this.info.length)
                    this.hasCheckAll = true;
                else
                    this.hasCheckAll = false;
                if (this.uncensorList.length == 1) {
                    this.addable = false;
                    this.editable = true;
                    this.deleble = true;
                } else if (this.uncensorList.length > 1) {
                    this.addable = false;
                    this.editable = false;
                    this.deleble = true;
                } else {
                    this.addable = true;
                    this.editable = false;
                    this.deleble = false;
                }

            },


            //审核是否通过
            verified: function (id) {
                var that = this;
                $.post("../../php/admin/verify.php", {
                    //返回的data是person的id以及通过的信息
                    personId: id,
                    hasPass: true,
                }).done((data) => {
                    //之后重新载入页面lo
                    data = JSON.parse(data);
                    that.info = data;
                })
            },
            refuse: function (id) {
                var that = this;
                $.post("../../php/admin/verify.php", {
                    personId: id,
                    hasPass: false,
                }).done((data) => {
                    data = JSON.parse(data); //.done之后用一个带参数data的function用来将JSON格式的data转换成js，然后把数据给info
                    that.info = data;
                })
            },
        }
    })
</script>

</html>