<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

</head>

<body>
  <div id="main">


    <nav v-bind:class="active" @:click.prevent>


      <a href="#" class="censor" @:click="makeActive('censor')">注册审核</a><br>
      <a href="#" class="administer" @:click="makeActive('administer')">人员管理</a><br>
      <a href="#" class="company" @:click="makeActive('company')">外包公司</a><br>
      <a href="#" class="information" @:click="makeActive('informantion')">人员信息</a>
    </nav>

    <!-- 以下 "active" 变量会根据当前选中的值来自动变换 -->

    <p>您选择了 {{active}} 菜单</p>

    <div id="page">
      <!-- //注册审核页面 -->
      <div v-if="tab == censor">
        <h4>注册审核列表</h4>
        <table border="1">

          <div>
            <tr>
              <th>用户名</th>
              <th>姓名</th>
              <th>邮箱</th>
              <th>隶属公司</th>
              <th>审核状态</th>
              <th>审核</th>
            </tr>
          </div>

          <!-- 有新的待审核人员时增加到表格下 -->
          <div v-if="index > 0" v-for='n in index'>
            <tr v-for="(username, signname, company, email, phoneNum) in infro">
              <td>{{signname}}</td>
              <td>{{username}}</td>
              <td>{{email}}</td>
              <td>{{company}}</td>
              <td>{{condition}}</td>
              <td>
                <input type="button" value="通过" $click='pass'>
                <input type="button" value="拒绝" $click='refuse'>
              </td>
            </tr>
          </div>

        </table>
      </div>



    </div>

  </div>


</body>
<script src="../../resource/vue/vue.js"></script>
<script src="../../resource/jquery/jquery.js"></script>
<script>
  // 创建一个新的 Vue 实例
  var main = new Vue({
    // DOM 元素，挂载视图模型
    el: '#main',

    // 定义属性，并设置初始值
    data: {
      tab: 'administer',
      index: '0',
      infro: {
        username: '',
        signname: '',
        company: '',
        email: '',
        phoneNum: '',
        condition: '',
      }


    },

    // 点击菜单使用的函数
    methods: {
      makeActive: function (item) {
        // 模型改变，视图会自动更新
        //将方法参数赋值给active的属性，从而在更改p中的内容
        this.tab = item;
      },
    fetch  : function () {
    var that = this;
    that.username: userna
    $.post(""). {
      me,
        that.signname: signname,
          that.company: company,
            that.phoneNum: phoneNum,
              that.email: email,
  
        }
  },
  //审核通过
  pass: function () {
    var that = this;
    $.post(""). {
      that.username: username,
        that.signname: signname,
          that.company: company,
            that.phoneNum: phoneNum,
              that.email: email,
  
        }
  },
  //审核失败
  refuse: function () {
    var that = this;
    $.post(""). {
      that.username: username,
        that.signname: signname,
          that.company: company,
            that.phoneNum: phoneNum,
              that.email: email,
  
        }
  }
  
    }
  
  });
  // vm.$watch('tab', function(nval, oval){
  //   oval : false;
  //   nval : true;
  // })
</script>

</html>