<!DOCTYPE <!DOCTYPE html>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />

    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css"> -->
    <link rel="stylesheet" href="../../resource/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../resource/font-awesome-4.7.0/css/font-awesome.css">
    <!-- <link rel="stylesheet" href="../../resource/star-rating/theme.css"> -->
    <link rel="stylesheet" href="../../resource/star-rating/star-rating.css">
    <title>任务审核</title>
</head>

<body style="background-image: url(../../image/papper.png)" onbeforeunload="return closeWindow()">
    <div id="main" class="container">
        <!-- simple bar -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark shadow p-3 mb-3 mt-3 rounded sticky-top">
            <a class="navbar-brand" href="#">CrowdSourcing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="publish.html"><i class="fa fa-paste">&nbsp;</i>项目发布</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-tasks"></i>
                            项目管理
                        </a>
                        <div class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="prjList.html?state=0"><i class="fa fa-spinner">&nbsp;&nbsp;</i>进行中项目</a>
                            <a class="dropdown-item" href="prjList.html?state=-1"><i class="fa fa-exclamation-triangle">&nbsp;&nbsp;</i>延期的项目</a>
                            <a class="dropdown-item" href="prjList.html?state=1"><i class="fa fa-check-square-o">&nbsp;&nbsp;</i>完成的项目</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar"></i>
                            任务进度
                        </a>
                        <div class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="taskLIst.html?state=0"><i class="fa fa-spinner">&nbsp;&nbsp;</i>进行中</a>
                            <a class="dropdown-item" href="taskLIst.html?state=2"><i class="fa fa-info-circle">&nbsp;&nbsp;</i>待审核</a>
                            <a class="dropdown-item" href="taskLIst.html?state=-1"><i class="fa fa-warning">&nbsp;&nbsp;</i>已延期</a>
                            <a class="dropdown-item" href="taskLIst.html?state=3"><i class="fa fa-hourglass-1">&nbsp;&nbsp;</i>待接受</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="fa fa-user-circle">&nbsp;</i>我的主页</a>
                    </li>
                </ul>
            </div>
            <div class="float-right">
                <!-- <a class="text-muted" href="#">[注销账号]</a> -->
                <img :src="portrait" class="rounded-circle" style="width:40px; height:40px;"><span>&nbsp;</span>
                <button type="button" class="btn btn-sm btn-outline-secondary" style="border: 0;" @click="logout()"><i
                        class="fa fa-power-off">&nbsp;</i>注销</button>

            </div>
        </nav>
        <div class="card rounded shadow mb-4">
            <div class="card-body">
                <div class="'d-flex flex-row">
                    <!-- taskName -->
                    <h4 v-text="taskName "></h4>
                </div>

            </div>
        </div>
        <div class="card rounded shadow mb-4">
            <div class="card-body">
                <div class="card-title">
                    <h3>工作信息</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-3 border-bottom-0">
                        <h4>简述</h4>
                        <textarea id="area" rows="5" class="form-control rounded " v-model="workDescription" readonly="readonly"></textarea>
                    </li>
                    <li class="list-group-item mb-3 border-bottom-0">
                        <h4>工作成果</h4>
                        <!-- 下载文件 -->
                        <a :href="source" :download="source" class="float-right" target="_blank" v-text="workFileName"></a>
                    </li>
                    <li class="list-group-item border-bottom-0" v-if="verified">
                        <h4 class="float-left">评分</h4>
                        <div class="mb-3 float-right" v-if="verified"><input id="input-id" type="number" class="rating"
                                min=0 max=5 step=0.5 data-size="lg" value=5></div>
                    </li>
                </ul>
                <button class="btn btn-primary  btn-block" @click="pass()" :disabled="showStar" v-if="verified">通过</button>
            </div>
        </div>
        <div class="card shadow ">
            <div class="card-body">
                <div class="card-title">
                    <h3>任务需求</h3>
                </div>
                <ul class="list-group list-group-flush">

                    <!-- <li class="list-group-item">
                                        <h4>附件</h4>
                                        <input type="file" id="file_input" class="rounded">
                                        <button class="btn btn-primary float-right rounded" @click="upload">提交</button>
                                    </li> -->
                    <li class="list-group-item">
                        <div class="form-group">
                            <h4>要求</h4>
                        </div>
                        <div class="form-group" v-show="showTaskId"> <textarea cols="60" rows="5" class="form-control rounded mb-3"
                                v-model="taskId" name="taskId">5</textarea></div>
                        <div class="form-group"><textarea cols="60" rows="5" class="form-control rounded mb-3" v-model="description"
                                name="description"></textarea></div>
                        <!-- 添加需求文件 -->
                        <!-- <div class="form-group"><input type="file" name="file" id="file_input"></div> -->
                        <div class="input-group mt-3 mb-4 ">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file_input" aria-describedby="inputGroupFileAddon04"
                                    @change="getName()">
                                <label class="custom-file-label" for="file_input" v-text="fileName"></label>
                            </div>
                        </div>
                        <!-- <div class="form-group float-right"><input type="submit" name="submit" value="提交" class="btn btn-primary"></div> -->
                        <!-- 退回按钮返回新的需求文件以及文字 -->
                        <button class="btn btn-danger btn-block" @click="back" v-show="ifBack">不通过</button>
                        <button class="btn btn-primary btn-block" @click="back" v-show="!ifBack">追加需求</button>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>

<script src="../../javascript/camera.js"></script>
<script src="../../resource/swal2/sweetalert2.all.js"></script>
<script src="../../resource/vue/vue.js"></script>
<script src="../../resource/jquery/jquery.js"></script>
<script src="../../resource/bootstrap/js/bootstrap.js"></script>
<script src="../../resource/jquery/jquery.cookie.js"></script>
<!-- <script src="../../resource/star-rating/zh.js"></script> -->
<script src="../../resource/star-rating/star-rating.js"></script>
<!-- <script src="../../resource/star-rating/theme.js"></script> -->

<script>
    var app = new Vue({
        el: "#main",
        data: {
            //user
            group: null,
            uuid: null,
            img: "http://static.runoob.com/images/mix/img_avatar.png",
            portrait: "http://static.runoob.com/images/mix/img_avatar.png",
            taskId: '',
            //
            task: [],
            taskName: '',
            workDescription: '',
            description: '',
            startTime: '',
            endTime: '',
            timeType: '',
            jump: '',
            source: "",
            workFileName: '',
            facialCensor: 0,
            code: '',
            showTaskId: false,
            visible: true,
            showStar: false,
            verified: true,
            fileName: "",
            ifBack: true,
            state: '',
        },
        created() {
            swal({
                title: "Loading...",
                width: 250,
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                onOpen: () => {
                    swal.showLoading()
                }
            });
            this.group = $.cookie('group');
            if ($.cookie('uuid') == null) {
                let timerInterval
                swal({
                    title: '请登录',
                    html: '页面将于 <strong>5</strong> 秒后跳转至登陆页面.',
                    timer: 5500,
                    onOpen: () => {
                        swal.showLoading()
                        timerInterval = setInterval(() => {
                            swal.getContent().querySelector('strong')
                                .textContent = parseInt((swal.getTimerLeft()) / 1000)
                        }, 100)
                    },
                    onClose: () => {
                        clearInterval(timerInterval)
                    }
                }).then(() => {
                    window.location.href = "../login/login.html";
                })
            } else {
                this.uuid = $.cookie('uuid');
                var that = this;
                $.post("../../php/checkState.php", {
                    uuid: that.uuid,
                    group: that.group,
                }).done((data) => {
                    data = JSON.parse(data);
                    if (data.code == 0) {
                        let timerInterval
                        swal({
                            title: '请登录',
                            html: '页面将于 <strong>5</strong> 秒后跳转至登陆页面.',
                            timer: 5500,
                            onOpen: () => {
                                swal.showLoading()
                                timerInterval = setInterval(() => {
                                    swal.getContent().querySelector('strong')
                                        .textContent = parseInt((swal.getTimerLeft()) /
                                            1000)
                                }, 100)
                            },
                            onClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then(() => {
                            window.location.href = "../login/login.html";
                        })
                    } else {
                        swal.close();
                        that.taskId = getQueryString("taskId");

                        $.post("../../php/sender/fetchCensorInfo.php", {
                            //返回taskId
                            taskId: that.taskId,
                        }).done((data) => {
                            data = JSON.parse(data);
                            that.task = data;
                            // that.taskName = that.task[0].taskName; //任务名
                            // that.source = that.task[0].workInfo.downloadPath; //审核文件路径
                            // that.workFileName = that.task[0].workInfo.workFileName; //审核文件名
                            // that.workDescription = that.task[0].workDescription; //任务描述

                            that.taskName = that.task.task[0].taskName; //任务名
                            that.source = that.task.task[0].workInfo.downloadPath; //审核文件路径  //路径补充完整啊哥。。。不然根本目录不对的！！
                            that.workFileName = that.task.task[0].workInfo.workFileName; //审核文件名
                            that.workDescription = that.task.task[0].workDescription; //任务描述
                            that.state = that.task.state;
                            if (that.state == 2) {
                                that.verified = true;
                                that.ifBack = true;
                            } else {
                                that.verified = false;
                                that.ifBack = false;
                            }
                            swal.close();

                        })
                    }
                });

            }
        },
        methods: {
            getName: function () {
                var file = $("#file_input").val();
                var pos = file.lastIndexOf("\\");
                this.fileName = file.substring(pos + 1);
            },
            // upload: function () {
            //     var form_data = new FormData();
            //     var file_data = $("#file_input").prop("files")[0];
            //     form_data.append("file", file_data);
            //     form_data.append("WorkDescription", this.workDescription);
            //     $.ajax({
            //         type: "POST",
            //         url: "../../php/receiver/upload.php",
            //         dataType: "json",
            //         crossDomain: true,
            //         processData: false, // 注意：让jQuery不要处理数据
            //         contentType: false, // 注意：让jQuery不要设置contentType
            //         data: form_data,
            //     }).success(function () {
            //         swal(
            //             '提交成功！',
            //             '请等待管理员审核',
            //             'success'
            //         )
            //         //清空
            //         this.WorkDescription = "";
            //     }).fail(function () {
            //         swal(
            //             '提交失败！',
            //             '请尝试重新上传',
            //             'error'
            //         )
            //     });
            // },
            logout: function () {
                var that = this;
                $.post("../../php/logout.php", {
                    uuid: that.uuid,
                    group: "admin",
                }).done(() => {
                    $.cookie("uuid", null, {
                        expires: 1,
                        secure: false,
                        path: '/'
                    });
                    $.cookie("group", null, {
                        expires: 1,
                        secure: false,
                        path: '/'
                    });
                    window.location.href = "../login/login.html";
                })
            },
            closeAlert: function () {
                console.log(msg);
                swal(
                    '提交失败！',
                    '请尝试重新上传',
                    'error'
                )
            },
            closeWindow: function () {
                return "2333";
            },

            pass: function () {
                swal({
                    title: '是否通过该任务？',
                    type: 'warning',
                    allowOutsideClick: false,
                    showCancelButton: true,
                    confirmButtonColor: '#CE252A',
                    cancelButtonColor: '#257FED',
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                }).then((result) => {
                    if (result.value) {
                        this.star = $("#input-id").attr("value"),
                            $.post("../../php/sender/pass.php", {
                                uuid: this.uuid,
                                taskId: this.taskId,
                                star: $("#input-id").attr("value"),
                            });
                        this.verified = false;
                        swal.close();
                    }
                });
            },
            back: function () {
                var form_data = new FormData();
                //获取文件
                var file = $("#file_input").prop("files")[0];
                form_data.append("description", this.description);
                form_data.append("uuid", this.uuid);
                form_data.append("descriptionFIle", file);
                form_data.append("taskId", this.taskId);
                swal({
                    title: '是否退回该任务？',
                    type: 'warning',
                    allowOutsideClick: false,
                    showCancelButton: true,
                    confirmButtonColor: '#CE252A',
                    cancelButtonColor: '#257FED',
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                }).then((result) => {
                    $.ajax({
                        type: "POST",
                        url: "../../php/sender/back.php",
                        dataType: "text",
                        processData: false,
                        contentType: false,
                        data: form_data
                    }).success(function (msg) {
                        swal(
                            '退回成功！',
                            '等待修改后重新上传审核！',
                            'success'
                        )

                    }).fail(function (msg) {
                        swal(
                            '退回失败！',
                            '请尝试重新上传！',
                            'error'
                        )
                    })
                });
            }
        },
    })

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    $("#input-id").rating();
    $("#input-id").rating({
        'showCaption': 'false'
    });
    $('#input-id').on('rating:change', function (event, value, caption) {
        console.log(value);
        console.log(caption);
        var inp = document.getElementById("input-id");
        inp.setAttribute("value", value);
        console.log($("#input-id").attr("value"));
    });
    $('#input-id').on('rating:clear', function (event) {
        console.log("rating:clear");
    });
    $('#input-id').on('rating:reset', function (event) {
        console.log("rating:reset");
    });
    $('#input-id').on('rating:hover', function (event, value, caption, target) {
        console.log(value);
        console.log(caption);
        console.log(target);
        var inp = document.getElementById("input-id");
        inp.setAttribute("value", value);
        console.log($("#input-id").attr("value"));
    });
    $('#input-id').on('rating:hoverleave', function (event, target) {
        console.log(target);
    });
    // forbid the caption
    $('#input-id').rating('refresh', {
        readonly: false,
        showClear: true,
        showCaption: false
    });
</script>

</html>