<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8">
    <style>
    </style>

</head>

<body>
    <div>
        <div id="main">
            <!-- title -->
            <div>
                <h1>CrowdSourcing</h1>
            </div>
            <!-- tips -->
            <div class="tips">
                <p>在这里登陆</p>
            </div>
            <div class="tips" style="display: none;">
                <p>在这里注册</p>
            </div>

            <!--login-->
            <div>
                <div id="camera"></div>
                <div>
                    <div><input type="text" placeholder="用户名"  v-model="username"></div>
                    <div><input type="password" placeholder="密码" v-model="password"></div>
                    <div><button>登陆</button></div>
                    <div><button>注册</button></div>
                    <div><a href="">忘记密码？</a></div>
                </div>
                <div>
                    <div><input type="text" placeholder="用户名" v-model="signName"></div>
                    <div><input type="password" placeholder="密码" v-model="signPass"></div>
                    <div><input type="password" placeholder="重复密码" v-model="rePass"></div>
                </div>
                <div>

                </div>
            </div>

        </div>
    </div>
</body>
<script src="../javascript/camera.js"></script>
<script src="../resource/vue/vue.js"></script>
<script src="../resource/jquery/jquery.js"></script>
<script>
    let app = new Vue({
        el:"#main",
        data:{
            username:"",
            password:"",
            signName:"",
            signPass:"",
            rePass:"",
            phoneNum:"",
            name:"",
            company:"",
            eMail:"",

        },
        created(){

        },
        methods:{
            login:function(){
                var that = this;
                $.post("../php/login.php",{
                    username:that.username,
                    password:that.password,
                }).done((data)=>{
                    data = JSON.parse(data);
                    if(data.status=="succeed"){

                    }else{

                    }
                })

                }


            },
            signIn:function(){

            },

        
    })
    var camera = new Camera('camera', {
        needEdit: true,
        imageType: 'png',
        width: 400,
        height: 300
    });
    camera.init();
    //take photo
    var img = camera.take();
    console.log(img);




</script>

</html>