<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8">
    <style>
    </style>

</head>

<body>
    <div>
        <div id="main">
            <!-- title -->
            <div v-bind:style="fade">
                <h1>CrowdSourcing</h1>
            </div>
            <!-- tips -->
            <div class="tips" v-bind:style="fade">
                <p>在这里登陆</p>
            </div>
            <div class="tips" v-bind:style="next">
                <p>点击画面以录入人脸</p>
            </div>


            <!--login-->
            <div>
                <div id="camera" v-bind:style="next"></div>
                <!-- form -->
                <div>
                    <div>
                        <input type="text" placeholder="用户名" v-model="username" @click="show">
                    </div>
                    <div>
                        <input type="password" placeholder="密码" v-model="password">
                    </div>
                    <div>
                        <button>登陆</button>
                    </div>
                    <div>
                        <button @click="window.location.href='register.html'">注册</button>
                    </div>
                    <div>
                        <a href="">忘记密码？</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<script src="../../javascript/camera.js"></script>
<script src="../../resource/vue/vue.js"></script>
<script src="../../resource/jquery/jquery.js"></script>
<script>
    let app = new Vue({
        el: "#main",
        data: {
            username: "",
            password: "",
            //css
            next: {
                display: "none",
            },
            fade:{
                display:"",
            },
        },
        created() {

        },
        methods: {
            show:function(){
                this.next.display="";
                this.fade.display="none";
            },

            login: function () {
                var that = this;
                $.post("../../php/login/login.php", {
                    username: that.username,
                    password: that.password,
                }).done((data) => {
                    data = JSON.parse(data);
                    if (data.status == "succeed") {

                    }
                    else {

                    }
                })
            },
        },
    })
    var camera = new Camera('camera', {
        needEdit: true,
        imageType: 'png',
        width: 400,
        height: 300
    });
    camera.init();
    //take photo
    var img = camera.take();
    console.log(img);
</script>

</html>