<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="../../resource/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        /* 可以设置不同的进入和离开动画 */
        /* 设置持续时间和动画函数 */
        .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s
        }
        .fade-enter, .fade-leave-to {
        opacity: 0
        }
        
</style>

</head>

<body class="bg-light" style="background-image: url(../../image/crossword.png)">
    <div class="container-fluid" style="margin-top: 7%">
        <div class="row-fluid" id="main">
            <div class="col-md-4  offset-md-4">
                <div class="col-md-8 offset-md-2 ">

                    <div class="row">
                        <div class="col">
                            <div class=" text-center text-light">
                                <a href="register.html" class="btn btn-dark btn-lg btn-block"><strong>CrowdSourcing</strong></a>
                            </div><br>

                            <div v-bind:class="stateColor">
                                <strong>Notify：</strong> <span v-text="notify"></span>
                            </div>
                        </div>
                    </div>
                    <!-- 1 -->
                    <transition name="fade">
                        <div class="row" v-show="show">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
                                    </div>
                                    <input @click="" type="text" :class="nameCls" placeholder="输入姓名" v-model="name">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                                    </div>
                                    <input @click="" type="text" :class="idCls" placeholder="输入身份证" v-model="identificationNum">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-phone"></i>&nbsp;</span>
                                    </div>
                                    <input @click="" type="text" :class="phoneCls" placeholder="输入手机号" v-model="phone">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                    <input @click="" type="text" :class="mailCls" placeholder="输入邮箱" v-model="mail">
                                </div>


                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-building-o">&nbsp;</i></span>
                                    </div>
                                    <select v-model="company" :class="companyCls">
                                        <option selected value=0>请选择公司</option>
                                        <option value=-1>发包人员</option>
                                        <option v-for="option in options" v-bind:value="option.id">
                                            {{ option.companyName }}
                                        </option>
                                    </select>
                                    <!-- <p>{{company}}</p> -->
                                </div>
                                <div>
                                    <button @click="fore()" type="button" class="btn btn-primary btn-block">继续</button>
                                </div><br>
                                <div style="text-align:right;">
                                    <a href="login.html">已有账号？</a>
                                </div>
                            </div>

                        </div>
                    </transition>

                    <!-- 2 -->
                    <transition name="fade">
                        <div class="row" v-show="fade">
                            <div class="col">
                                <div v-if="!seen" style="line-height:250px;text-align: center;width: 100%; height:250px;background-color: rgb(155, 155, 155); border-radius: 5px">
                                    <i class="fa fa-camera" style="font-size: 50px;vertical-align:middle"></i>
                                </div>
                                <div id="camera" style="border-radius: 5px;background-color: rgb(155, 155, 155);"></div>
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                                    </div>
                                    <input v-model="username" type="text" class="form-control" placeholder="输入用户名">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text "><i class="fa fa-key"></i></span>
                                    </div>
                                    <input v-model="password" type="password" class="form-control" placeholder="输入密码">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text "><i class="fa fa-key"></i></span>
                                    </div>
                                    <input v-model="password_2" type="password" class="form-control" placeholder="重复输入密码">
                                </div>
                                <div class="clearfix">
                                    <button @click="prev()" type="button" class="btn btn-secondary float-left" style="width:48%;">返回</button>
                                    <button @click="register()" type="button" class="btn btn-success float-right "
                                        style="width:48%;">提交</button>
                                </div><br>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../javascript/camera.js"></script>
<script src="../../resource/swal2/sweetalert2.all.js"></script>
<script src="../../resource/vue/vue.js"></script>
<script src="../../resource/jquery/jquery.js"></script>
<script src="../../resource/bootstrap/js/bootstrap.js"></script>
<script src="../../resource/jquery/jquery.cookie.js"></script>
<script>
    let app = new Vue({
        el: "#main",
        data: {
            //register data
            name: "",
            company: 0,
            phone: "",
            mail: "",
            identificationNum: "",
            username: "",
            password: "",
            password_2: "",
            facialData: "",
            seen: false,
            complete_1: true,
            complete_2: false,
            isDuplicated: false,
            //
            show: true,
            fade: false,

            //
            options: [],
            hasCam: false,
            notify: "在这里注册",
            stateColor: "alert alert-success",

            //class
            nameCls: "form-control",
            phoneCls: "form-control",
            mailCls: "form-control",
            idCls: "form-control",
            companyCls: "form-control",
            passwordCls: "form-control",
            usernameCls: "form-control",
        },
        created() {
            swal({
                title: "Loading...",
                width: 250,
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                onOpen: () => { swal.showLoading() }
            });
            var that = this;
            // get company names for selector
            $.post("../../php/fetchCompany.php").done((data) => {
                data = JSON.parse(data);
                that.options = data;
                swal.close();
            });

        },

        methods: {

            register: function () {
                var that = this;
                if (that.password == that.password_2) {
                    swal({
                        title: '请等待',
                        allowOutsideClick: false,
                        showConfirmButton: false,
                        showCloseButton: false,
                        width:250,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                    $.post("../../php/login/register.php", {
                        name: that.name,
                        company: that.company,
                        phone: that.phone,
                        mail: that.mail,
                        identificationNum: that.identificationNum,
                        username: that.username,
                        password: that.password,
                        facialData: that.facialData,
                    }).done((data) => {
                        data = JSON.parse(data);
                        if (data.code == 1) {
                            swal({
                                title: "注册成功！",
                                text:"您的账号将在2小时内得到审核。",
                                type: "success",
                                showConfirmButton: false,
                                timer: 2000,
                                width:300,
                            }).then(()=>{
                                window.location.href = "login.html";
                            });
                            
                        }
                        else if (data.code == 0) {
                            this.notify = '用户名重复！';
                            this.stateColor = "alert alert-danger";
                            swal.close();
                        }
                    })
                }
                else {
                    this.notify = '请重新确认您的密码！';
                    this.stateColor = "alert alert-danger";
                    swal.close();
                }
            },

            fore: function () {
                this.isComplete_1();
                if (!this.complete_1) {
                    this.notify = '请填写正确的信息！';
                    this.stateColor = "alert alert-danger";
                    
                }
                else {
                    swal({
                        title: "Loading...",
                        width: 250,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showConfirmButton: false,
                        onOpen: () => { swal.showLoading() }
                    });  
                    this.notify = '确认中';
                    this.stateColor = "alert alert-primary";
                    var that = this;
                    $.post("../../php/login/isDuplicated.php", {
                        phone: that.phone,
                        identificationNum: that.identificationNum,
                        mail: that.mail,
                    }).done((data) => {
                        // {
                        //     phone:0,
                        //     id:0,
                        //     mail:0
                        // }
                        swal.close();
                        if (data.id == 1) {
                            that.notify = '该身份已注册！';
                            that.stateColor = "alert alert-danger";
                            that.idCls = "form-control is-invalid";
                            that.isDuplicated = true;
                        }
                        else if (data.phone == 1 || data.mail == 1) {
                            that.isDuplicated = true;
                            that.stateColor = "alert alert-danger";
                            that.phoneCls = "form-control is-invalid";
                            if (data.phone == 1) {
                                that.notify = '该手机已被使用！';
                            }
                            if (data.mail == 1) {
                                that.notify = '该邮箱已被使用！';
                            }
                            if (data.mail == 1 && data.phone == 1) {
                                that.notify = '该邮箱和手机已被使用！';
                            }
                        }
                        else that.isDuplicated == false;

                        if (!that.isDuplicated) {
                            that.show = !that.show;
                            window.setTimeout(() => {
                                that.fade = !that.fade;
                                this.notify = '请继续填写登陆信息';
                                this.stateColor = "alert alert-primary";
                            }, 500)
                            this.seen = true;
                            if (!that.hasCam) {
                                camera.init();
                                that.hasCam = true;
                            }
                        }
                    });
                }
            },

            prev: function () {
                this.fade = !this.fade;
                window.setTimeout(() => { this.show = !this.show; }, 500)
            },

            isComplete_1: function () {
                this.name = this.name.replace(/\s+/g, "");
                this.phone = this.phone.replace(/\s+/g, "");
                this.identificationNum = this.identificationNum.replace(/\s+/g, "");
                this.mail = this.mail.replace(/\s+/g, "");
                if (this.name == "") {
                    this.nameCls = "form-control is-invalid";
                    this.complete_1 = false;
                }
                else this.nameCls = "form-control";
                if (this.phone.match(/^1\d{10}$/) === null) {
                    this.phoneCls = "form-control is-invalid";
                    this.complete_1 = false;
                }
                else this.phoneCls = "form-control";
                if (this.identificationNum.match(/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/) === null) {
                    this.idCls = "form-control is-invalid";
                    this.complete_1 = false;
                }
                else this.idCls = "form-control";
                if (this.mail.match(/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/) === null) {
                    this.mailCls = "form-control is-invalid";
                    this.complete_1 = false;
                }
                else this.mailCls = "form-control";
                if (this.company == 0) {
                    this.companyCls = "form-control is-invalid";
                    this.complete_1 = false;
                }
                else this.companyCls = "form-control";
                if (this.nameCls == "form-control" && this.mailCls == "form-control" && this.phoneCls == "form-control" && this.idCls == "form-control" && this.companyCls == "form-control") {
                    this.complete_1 = true;
                }
            }
        },
    })
    var camera = new Camera('camera', {
        needEdit: true,
        imageType: 'png',
        width: 400,
        height: 250
    });

    // //take photo
    // var img = camera.take();
    // console.log(img);




</script>


</html>